@import url('../style.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: unset;
}

:root {
    --gris: #999EA1;
    --color-inputs: #C6C6C6;
    --txt-litle: 14px;
    --labels: 15px;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: bold;
    color: var(--morado);
}

.morado {
    color: white;
}

.span-alert {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.cont-alert {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
}

.card-alert {
    width: 25%;
    height: 30%;
    background-color: white;
    box-shadow: 0 0 20px var(--morado);
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.card-alert h2 {
    width: 95%;
}

.btn-alert {
    padding: 10px;
    width: 30%;
    border: none;
    background-color: var(--morado);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 400ms;
}

.btn-alert:hover {
    transform: scale(1.1);
}

body {
    background: linear-gradient(rgb(255, 255, 255), rgb(190, 172, 252));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: white;
    width: 30%;
    height: 80%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-left: 5px solid var(--morado);
    border-top: 5px solid var(--morado);
    border-bottom: 5px solid var(--morado);
}

.icon-fa {
    display: none;
    position: fixed;
    right: 0;
    margin-top: -60px;
    padding-right: 20px;
    font-size: 2rem;
    cursor: pointer;
}

.cont-form {
    background-color: white;
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 5px solid var(--morado);
    border-bottom: 5px solid var(--morado);
}

.footer-login {
    width: 20%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--morado);
    border: 5px solid var(--morado);
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.txt-cont {
    width: 100%;
    height: 15%;
    padding-left: 15px;
    padding-top: 10px;
}

.cont-titulo {
    width: 100%;
    display: flex;
}

.cont-titulo h3 {
    font-size: 40px;
    background: linear-gradient(to right, var(--morado), rgb(239 77 175));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mano {
    font-size: 35px;
}

.txt-cont p {
    font-size: 20px;
    color: var(--gris);
}

form {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.form-group {
    width: 90%;
    height: 25%;
    padding: 10px;
}

.label-cont {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.label-cont img {
    width: 10%;
}

.input-cont {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid var(--color-inputs);
}

.btn-principal {
    padding: 10px;
    width: 80%;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 20px;
    color: var(--morado);
    background-color: white;
    border-radius: 10px;
    border: 5px solid white;
    cursor: pointer;
    transition: all 300ms;
}

.btn-principal:hover {
    background-color: var(--morado);
    font-weight: bold;
    color: white;
    transform: scale(1.01);
}

.footer-login .link-dos {
    color: white;
}

.link-danger {
    color: red;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    main, .cont-form, .footer-login {
        height: 70%;
    }
    .cont-titulo h3 {
        font-size: 28px;
    }
    .mano {
        font-size: 28px;
    }

    .img-cont {
        margin-top: 80px;
    }
    .card-alert {
        width: 40%;
        height: 30%;
    }
}

@media screen and (max-width: 768px) {

    .card-alert {
        width: 80%;
        height: 30%;
    }

    .morado {
        color: var(--morado);
    }

    .icon-fa {
        display: flex;
        position: fixed;
        right: 0;
        margin-top: 0;
        padding-right: 10px;
        font-size: 1.5rem;
        cursor: pointer;
    }

    body {
        background: none;
        flex-direction: column;
    }
    
    main {
        width: 100%;
        height: 40vh;
        border: none;
    }

    .txt-cont {
        width: 90%;
        height: 15%;
        padding: 8px;
    }

    .cont-titulo {
        display: flex;
    }

    .mano {
        font-size: 25px;
    }

    .txt-cont h3 {
        font-size: 25px;
        background: linear-gradient(to right, var(--morado), rgb(239 77 175));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .txt-cont p {
        font-size: var(--txt-litle);
        color: var(--gris);
    }

    .img-cont {
        width: 100%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-cont img {
        width: 60%;
    }

    .cont-form {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    form {
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .form-group {
        width: 100%;
        height: 20%;
    }

    .label-cont {
        font-size: var(--labels);
        color: var(--morado);
        font-weight: bold;
        height: 25%;
        display: flex;
    }

    .label-cont img {
        width: 5%;
    }

    .input-cont {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }

    .input {
        margin-top: 10px;
        width: 95%;
        height: 50%;
        padding: 10px;
        font-size: var(--txt-litle);
        border-radius: 10px;
        border: 1px solid var(--color-inputs);
    }

    .link-danger {
        font-size: var(--txt-litle);
        color: red;
        font-weight: 500;
    }

    .footer-login {
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
        border: none;
    }
    
    .btn-principal {
        padding: 10px;
        width: 85%;
        height: 30%;
        margin-bottom: 30px;
        font-weight: 500;
        font-size: 17px;
        color: white;
        background-color: var(--morado);
        border-radius: 10px;
        border: none;
        cursor: pointer;
    }

    .links-footer {
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .link {
        color: var(--gris);
    }

}
