  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');
*, html {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    user-select: none;
}

a {
  text-decoration: none;
}

:root {
  --morado: rgb(106 76 203);
  --color-inputs: #C6C6C6;
}
