<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/dashboard/main.css" async>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>Dashboard</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../../img/dashboard/SubS.png" alt="logo">
            </div>
            <span class="logo_name">SubSphere</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-list-ol-alt"></i>
                        <span class="link-name">Suscripciones</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-setting"></i>
                        <span class="link-name">Ajustes</span>
                    </a>
                </li>
            </ul>
            <ul class="logout-mode" style="padding-left: 0px;">
                <li>
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Salir</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon-eclipse"></i>
                        <span class="link-name">Modo Oscuro</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
        </div>
        <div class="dashboard-content">
            <div class="overview">
                <div class="title"></div>
            </div>
        </div>
    </section>
    <script src="../../js/dashboard/sidebar.js"></script>
</body>

</html>