<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/dashboard/main.css" async>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>Dashboard</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../../img/dashboard/SubS.png" alt="logo">
            </div>
            <span class="logo_name">SubSphere</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-list-ol-alt"></i>
                        <span class="link-name">Suscripciones</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-setting"></i>
                        <span class="link-name">Ajustes</span>
                    </a>
                </li>
            </ul>
            <ul class="logout-mode" style="padding-left: 0px;">
                <li id="salir">
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Salir</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon-eclipse"></i>
                        <span class="link-name">Modo Oscuro</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i id="rotated" class="arrow uil-angle-left sidebar-toggle"></i>
        </div>
        <div class="dashboard-content">
            <div class="overview">
                <div id="titulo-name" class="title"></div>
                <p class="p-principal">Comienza a gestionar tus suscripciones</p>
            </div>
            <div class="cont-info">
                <div class="card-cost">
                    <p>Total gastado en este mes</p>
                    <h3>$</h3>
                </div>
                <div class="card-cost">
                    <p>Suscripciones activas</p>
                    <h3>0</h3>
                </div>
            </div>
            <div id="contData" class="cont-data">
                <details name="info">
                    <summary>
                        <div class="cont-img">
                            <img src="../../img/icons/netflix.png" alt="">
                        </div>
                        <div class="cont-txt">
                            <h3>Netflix</h3>
                            <h4>$ 200 / Mes</h4>
                        </div>
                    </summary>
                    <p>Todavia te quedan 20 dias para realizar tu pago.</p>
                    <div class="cont-barra"> 
                        <div class="barra">
                            <div class="bar"></div>
                        </div> 
                    </div>
                </details>
            </div>
        </div>
    </section>
    <script src="../../js/dashboard/sidebar.js"></script>
    <script src="../../js/dashboard/main.js"></script>
</body>

</html>