<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/dashboard/main.css" async>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
</head>

<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../../img/landing/Company-Spotify.svg" alt="logo">
                </span>
                <div class="text header-text">
                    <span class="description">Control De Suscripciones</span>
                </div>
            </div>
            <i class='bx bx-chevron-right'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home' ></i>
                            <span class="text nav-text">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="action" href="#">
                            <i class='bx bx-list-ol' ></i>
                            <span class="text nav-text"> Suscripciones</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-cog' ></i>
                            <span class="text nav-text"> Ajustes</span>
                        </a>
                    </li>
                </ul>

                <div class="bottom-content">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-log-out' ></i>
                            <span class="text nav-text"> Logout</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bxs-moon' ></i>
                            <i class='bx bxs-sun' ></i>
                            <span class="mode-text text">Dark Mode</span>
                        </div>


                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>