<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/dashboard/main.css" async>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="../../css/dashboard/subs.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../../img/dashboard/SubS.png" alt="logo">
            </div>
            <span class="logo_name">SubSphere</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li>
                    <a href="#">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-list-ol-alt"></i>
                        <span class="link-name">Suscripciones</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="uil uil-setting"></i>
                        <span class="link-name">Ajustes</span>
                    </a>
                </li>
            </ul>
            <ul class="logout-mode" style="padding-left: 0px;">
                <li id="salir">
                    <a href="#">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Salir</span>
                    </a>
                </li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon-eclipse"></i>
                        <span class="link-name">Modo Oscuro</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i id="rotated" class="arrow uil-angle-left sidebar-toggle"></i>
        </div>
        <div class="dashboard-content-subs">
            <!-- <div class="overview-subs">
                <div class="container">
                    <img src="../../img/icons/netflix.png" class="image" />
                    <div class="content">
                        <div class="text">
                            <h3>Contenido del div</h3>
                            <p>Descripción del contenido</p>
                        </div>
                        <div class="icons">
                            <i class="uil uil-edit"></i>
                            <i class="uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <img src="../../img/icons/netflix.png" class="image" />
                    <div class="content">
                        <div class="text">
                            <h3>Contenido del div</h3>
                            <p>Descripción del contenido</p>
                        </div>
                        <div class="icons">
                            <i class="uil uil-edit"></i>
                            <i class="uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <img src="../../img/icons/netflix.png" class="image" />
                    <div class="content">
                        <div class="text">
                            <h3>Contenido del div</h3>
                            <p>Descripción del contenido</p>
                        </div>
                        <div class="icons">
                            <i class="uil uil-edit"></i>
                            <i class="uil uil-trash-alt"></i>
                        </div>
                    </div>
                </div>
            </div> -->
                <button class="btn" id="btn">Agregar Suscripcion</button>
    </section>
    <div class="modal-overlay" id="modalOverlay"></div>

            <div class="modal" id="myModal">
                <div class="modal-header">
                    <span>Modal de Suscripción</span>
                    <span class="modal-close" onclick="closeModal()">X</span>
                </div>
                <form id="subscriptionForm">
                    <label for="plataforma">Plataforma:</label>
                    <input type="text" id="plataforma" required>
                    <br>
                    <label for="frecuencia">Frecuencia de pago:</label>
                    <input type="text" id="frecuencia" required>
                    <br>
                    <label for="precio">Precio:</label>
                    <input type="text" id="precio" required>
                    <br>
                    <button type="button" onclick="addSubscription()">Agregar</button>
                </form>
    <script src="../../js/dashboard/sidebar.js" async></script>
    <script src="../../js/dashboard/subs.js" async></script>
</body>

</html>