<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/landing/main.css">
    <title>Planes</title>
</head>
<body>
    <section class="s_section" style="margin-top: -160px;">
        <div class="s_price-content">
            <div class="s_price-plans">
                <div id="cardUno" class="s_price-card">
                    <h1 class="s_price-card-title">$0/mes</h1>
                    <h2 class="s_price-card-subtitle">Plan Básico</h2>
                    <div class="s_price-card-button">
                        <button class="b_color-secondary b_size-form b_size-form2">
                            <span id="free">Empezar</span>
                        </button>
                    </div>
                    <div class="s_price-card-list">
                        <span class="s_price-card-item">Sigue hasta 4 suscripciones.</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur</span>
                    </div>
                </div>
                <div id="cardDos" class="s_price-card s_price-popular s_price-card-popular">
                    <h1 class="s_price-card-title">$4.99/mes</h1>
                    <h2 class="s_price-card-subtitle">Plan Pro (Recomendado)</h2>
                    <div class="s_price-card-button">
                        <button class="b_color-primary b_size-form b_size-form2" id="plus">Empezar</button>
                    </div>
                    <div class="s_price-card-list">
                        <span class="s_price-card-item">Sigue hasta 4 suscripciones.</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur</span>
                    </div>
                </div>
                <div id="cardTres" class="s_price-card">
                    <h1 class="s_price-card-title">$8.99/mes</h1>
                    <h2 class="s_price-card-subtitle">Plan Pro Extendido</h2>
                    <div class="s_price-card-button">
                        <button class="b_color-secondary b_size-form b_size-form2">
                            <span id="premiun">Empezar</span>
                        </button>
                    </div>
                    <div class="s_price-card-list">
                        <span class="s_price-card-item">Sigue hasta 4 suscripciones.</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur</span>
                        <span class="s_price-card-item">Lorem ipsum dolor sit amet consectetur</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../../js/login/planes.js"></script>
    
</body>
</html>